* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --primary-cyan: hsl(179, 61%, 44%);
  --primary-cyan-light: hsl(179, 47%, 52%);
  --primary-cyan-light-2: hsl(179, 62%, 64%);
  --primary-cyan-light-3: hsl(178, 67%, 75%);
  --primary-bright-yellow: hsl(71, 73%, 54%);
  --neutral-light-gray: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(218, 22%, 67%);
}

@font-face {
  font-family: "Karla";
  src: url("./Karla\,Outfit/Karla/sta");
}
body {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 2ch;
}

.suscription {
  display: grid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 0.5ch;
  flex-grow: 1; /* Permite que la sección se ajuste al espacio disponible */
  overflow: auto; /* Evita el desbordamiento añadiendo un scroll si es necesario */
}

li {
  list-style-type: none;
}
.card {
  display: grid;
  padding: 3ch;
  gap: 2ch;
}
.card > h2 {
  color: white;
}
#card-1 {
  background-color: white;
  border-radius: 0.5ch 0.5ch 0 0;
}
#card-1 > h2 {
  color: var(--primary-cyan-light);
}
#card-1 > h3 {
  color: var(--primary-bright-yellow);
}
#card-1 > p {
  color: var(--neutral-grayish-blue);
  line-height: 1.5;
}
#card-2 {
  background-color: var(--primary-cyan);
}

#card-2 span {
  color: white;
  font-size: 2em;
}

#card-2 button {
  background-color: var(--primary-bright-yellow);
  color: white;
  width: 100%;
  font-size: 1em;
  padding: 1ch 0;
  border-radius: 0.8ch;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}
#card-3 {
  background-color: var(--primary-cyan-light);
  border-radius: 0 0 0.5ch 0.5ch;
  line-height: 1.5;
}
.cyan-color-2 {
  color: var(--primary-cyan-light-2);
}
.cyan-color-3 {
  color: var(--primary-cyan-light-3);
}

@media screen and (width >= 1200px) {
  main {
    padding: 20ch 40ch;
  }
  .suscription {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #card-1 {
    grid-column: 1/-1;
  }
}
